In [1]:
import sqlite3
conn = sqlite3.connect("wnjpn.db")

In [2]:
sql = "SELECT name FROM sqlite_master WHERE TYPE='table'"
cur = conn.cursor()

In [3]:
for table in cur.execute(sql):
    print(table)

### テーブル情報
word: 単語と品詞に関する情報。単語と単語IDを紐づけている<br>
sense: 単語とsynset（概念）に関する情報。単語IDとsynsetのIDを紐づけている<br>
synset: 概念に関する情報。synsetのIDと概念名称を紐づけている<br>
synset_def: 概念の定義に関する情報。synsetのIDと概念の定義を紐づけている<br>
synling: 2つの概念の関連性の情報。上位・下位、包含・被包含などが定義されている<br>
参考情報: https://note.com/npaka/n/nd784cc6e4aa6

In [4]:
cur.execute('SELECT * FROM synset')

In [5]:
for num, row in enumerate(cur):
    if num < 10:
        print(row)

In [6]:
cur.execute('SELECT * FROM pos_def')
for num, row in enumerate(cur):
    if num < 20:
        print(row)

('a', 'eng', 'adjective')
('r', 'eng', 'adverb')
('n', 'eng', 'noun')
('v', 'eng', 'verb')
('a', 'jpn', '形容詞')
('r', 'jpn', '副詞')
('n', 'jpn', '名詞')
('v', 'jpn', '動詞')

In [7]:
cur.execute('SELECT * FROM link_def')
for num, row in enumerate(cur):
    if num < 20:
        print(row)

('also', 'eng', 'See also')
('syns', 'eng', 'Synonyms')
('hype', 'eng', 'Hypernyms')
('inst', 'eng', 'Instances')
('hypo', 'eng', 'Hyponym')
('hasi', 'eng', 'Has Instance')
('mero', 'eng', 'Meronyms')
('mmem', 'eng', 'Meronyms --- Member')
('msub', 'eng', 'Meronyms --- Substance')
('mprt', 'eng', 'Meronyms --- Part')
('holo', 'eng', 'Holonyms')
('hmem', 'eng', 'Holonyms --- Member')
('hsub', 'eng', 'Holonyms --- Substance')
('hprt', 'eng', 'Holonyms -- Part')
('attr', 'eng', 'Attributes')
('sim', 'eng', 'Similar to')
('enta', 'eng', 'Entails')
('caus', 'eng', 'Causes')
('dmnc', 'eng', 'Domain --- Category')
('dmnu', 'eng', 'Domain --- Usage')

In [8]:
cur.execute('SELECT * FROM synset_def')
for num, row in enumerate(cur):
    if num < 20:
        print(row)

('07125096-n', 'eng', 'profane or obscene expression usually of surprise or anger; "expletives were deleted"', '0')
('07126228-n', 'eng', 'a word or phrase conveying no independent meaning but added to fill out a sentence or metrical line', '0')
('14123044-n', 'eng', 'an acute and highly contagious viral disease marked by distinct red spots followed by a rash; occurs primarily in children', '0')
('08030185-n', 'eng', 'a Nicaraguan counterrevolutionary guerrilla force from 1979 to 1990; it opposed a left-wing government, with support from the United States', '0')
('09902017-n', 'eng', 'a man who raises (or tends) cattle', '0')
('03259505-n', 'eng', 'housing that someone is living in; "he built a modest dwelling near the pond"; "they raise money to provide homes for the homeless"', '0')
('14599641-n', 'eng', 'a dilute solution of acetic acid that is used as a solvent (e.g. for a drug)', '0')
('07828987-n', 'eng', 'sour-tasting liquid produced usually by oxidation of the alcohol in wine or cider and used as a condiment or food preservative', '0')
('09361816-n', 'eng', 'a mountain range in northwestern Israel near the Mediterranean coast; "according to the Old Testament, Elijah defeated the priests of Baal at Mount Carmel"', '0')
('11660537-n', 'eng', 'yews: in some systems classified as a class (Taxopsida) and in others as a subdivision (Taxophytina) used in some classifications for one of five subdivisions of Gymnospermophyta', '0')
('13098515-n', 'eng', 'a sheet of vascular tissue separating the vascular bundles', '0')
('01629093-n', 'eng', 'type genus of the Salamandridae', '0')
('05559256-n', 'eng', 'the fleshy part of the human body that you sit on; "he deserves a good kick in the butt"; "are you going to sit on your fanny and do nothing?"', '0')
('15024773-n', 'eng', 'the bright red hemoglobin that is a combination of hemoglobin and oxygen from the lungs; "oxyhemoglobin transports oxygen to the cells of the body"', '0')
('02523750-n', 'eng', 'haddock', '0')
('08983105-n', 'eng', 'the capital and largest city of Poland; located in central Poland', '0')
('09067277-n', 'eng', 'a state in west central United States in the Rocky Mountains', '0')
('09250016-n', 'eng', 'a river in Texas; flows southeast into the Gulf of Mexico', '0')
('09249418-n', 'eng', 'an important river in the southwestern United States; rises in the Rocky Mountains of northern Colorado and flows southwest through Utah into Arizona (where it flows through the Grand Canyon) and then southward through the southern tip of Nevada, then forming the border between California and Arizona and finally into Mexico where it empties into the Gulf of California; the main source of water in the southwestern United States', '0')
('04420461-n', 'eng', 'a bomb that uses a fuel-air explosive; "a thermobaric bomb can create overpressures equal to an atomic bomb"', '0')

In [9]:
cur.execute('SELECT * FROM synset_ex')
for num, row in enumerate(cur):
    if num < 20:
        print(row)

('01785341-a', 'eng', 'grim determination', '0')
('01785341-a', 'jpn', '断固たる決心', '0')
('01785341-a', 'eng', 'grim necessity', '1')
('01785341-a', 'jpn', '厳しい必要性', '1')
('01785341-a', 'eng', "Russia's final hour, it seemed, approached with inexorable certainty", '2')
('01785341-a', 'jpn', 'ロシアの最後の時間は、容赦ない確実性とともに訪れたようであった', '2')
('01785341-a', 'eng', 'relentless persecution', '3')
('01785341-a', 'jpn', '容赦のない迫害', '3')
('01785341-a', 'eng', 'the stern demands of parenthood', '4')
('01785341-a', 'jpn', '親の立場の厳格な要求', '4')
('00102786-a', 'eng', 'double-edged praise', '0')
('00102786-a', 'jpn', '両意に取れる賞賛', '0')
('00307333-r', 'eng', 'he smelled offensively unwashed', '0')
('00307333-r', 'jpn', '彼は不快なほど不潔な匂いがした', '0')
('00156222-r', 'eng', "incidentally, I won't go to the party", '0')
('00156222-r', 'jpn', 'ちなみに、私はパーティーに行かない', '0')
('07316856-n', 'eng', 'he finally got his big break', '0')
('07316856-n', 'jpn', '彼はとうとう大きなチャンスをつかんだ', '0')
('00433514-r', 'eng', 'the afternoon had begun so promisingly', '0')
('00433514-r', 'jpn', '午後は、とても前途有望に始まった', '0')

In [10]:
cur.execute('SELECT * FROM synlink')
for num, row in enumerate(cur):
    if num < 20:
        print(row)

('07125096-n', '07128527-n', 'hype', 'eng30')
('07126228-n', '07109847-n', 'hype', 'eng30')
('14123044-n', '14122235-n', 'hype', 'eng30')
('14123044-n', '14123259-n', 'hypo', 'eng30')
('08030185-n', '08197895-n', 'inst', 'eng30')
('09902017-n', '10658501-n', 'hype', 'eng30')
('03259505-n', '03546340-n', 'hype', 'eng30')
('03259505-n', '03042490-n', 'hypo', 'eng30')
('03259505-n', '03088580-n', 'hypo', 'eng30')
('03259505-n', '03354207-n', 'hypo', 'eng30')
('03259505-n', '03507241-n', 'hypo', 'eng30')
('03259505-n', '03515934-n', 'hypo', 'eng30')
('03259505-n', '03529629-n', 'hypo', 'eng30')
('03259505-n', '03544360-n', 'hypo', 'eng30')
('03259505-n', '03634034-n', 'hypo', 'eng30')
('03259505-n', '03685307-n', 'hypo', 'eng30')
('03259505-n', '03751590-n', 'hypo', 'eng30')
('03259505-n', '04172107-n', 'hypo', 'eng30')
('03259505-n', '04517408-n', 'hypo', 'eng30')
('03259505-n', '04613696-n', 'hypo', 'eng30')

In [11]:
cur.execute('SELECT * FROM ancestor')
for num, row in enumerate(cur):
    if num < 20:
        print(row)

('11820323-n', '11573660-n', 1)
('11820323-n', '11567411-n', 2)
('11820323-n', '08108972-n', 3)
('11820323-n', '07992450-n', 4)
('11820323-n', '07941170-n', 5)
('11820323-n', '00031264-n', 6)
('11820323-n', '00002137-n', 7)
('11820323-n', '00001740-n', 8)
('04239436-n', '02785648-n', 1)
('04239436-n', '03237639-n', 2)
('04239436-n', '03050026-n', 3)
('04239436-n', '03122748-n', 4)
('04239436-n', '00021939-n', 5)
('04239436-n', '00003553-n', 6)
('04239436-n', '00002684-n', 7)
('04239436-n', '00001930-n', 8)
('04239436-n', '00001740-n', 9)
('11427067-n', '11463371-n', 1)
('11427067-n', '11473954-n', 2)
('11427067-n', '11421401-n', 3)

In [12]:
cur.execute('SELECT * FROM sense')
for num, row in enumerate(cur):
    if num < 20:
        print(row)

('07125096-n', 1, 'eng', '0', 1, 1, 'eng-30')
('07126228-n', 1, 'eng', '0', 2, 0, 'eng-30')
('14123044-n', 2, 'eng', '0', 1, 0, 'eng-30')
('08030185-n', 3, 'eng', '0', 1, 0, 'eng-30')
('09902017-n', 4, 'eng', '0', 1, 1, 'eng-30')
('03259505-n', 5, 'eng', '0', 1, 11, 'eng-30')
('14599641-n', 6, 'eng', '0', 1, 0, 'eng-30')
('07828987-n', 6, 'eng', '0', 2, 0, 'eng-30')
('09361816-n', 7, 'eng', '0', 1, 0, 'eng-30')
('11660537-n', 8, 'eng', '0', 1, 0, 'eng-30')
('13098515-n', 9, 'eng', '0', 1, 0, 'eng-30')
('01629093-n', 10, 'eng', '0', 1, 0, 'eng-30')
('05559256-n', 11, 'eng', '0', 1, 0, 'eng-30')
('15024773-n', 12, 'eng', '0', 1, 0, 'eng-30')
('02523750-n', 13, 'eng', '0', 1, 0, 'eng-30')
('08983105-n', 14, 'eng', '0', 1, 8, 'eng-30')
('09067277-n', 15, 'eng', '0', 1, 2, 'eng-30')
('09250016-n', 15, 'eng', '0', 2, 0, 'eng-30')
('09249418-n', 15, 'eng', '0', 3, 0, 'eng-30')
('04420461-n', 16, 'eng', '0', 1, 0, 'eng-30')

In [13]:
cur.execute('SELECT * FROM word')
for num, row in enumerate(cur):
    if num < 20:
        print(row)

(1, 'eng', 'expletive', None, 'n')
(2, 'eng', 'measles', None, 'n')
(3, 'eng', 'contras', None, 'n')
(4, 'eng', 'beef_man', None, 'n')
(5, 'eng', 'dwelling', None, 'n')
(6, 'eng', 'acetum', None, 'n')
(7, 'eng', 'mount_carmel', None, 'n')
(8, 'eng', 'class_taxopsida', None, 'n')
(9, 'eng', 'vascular_ray', None, 'n')
(10, 'eng', 'genus_salamandra', None, 'n')
(11, 'eng', 'prat', None, 'n')
(12, 'eng', 'oxyhaemoglobin', None, 'n')
(13, 'eng', 'genus_melanogrammus', None, 'n')
(14, 'eng', 'warsaw', None, 'n')
(15, 'eng', 'colorado', None, 'n')
(16, 'eng', 'fuel-air_bomb', None, 'n')
(17, 'eng', 'industrial_engineering', None, 'n')
(18, 'eng', 'atomic_weapon', None, 'n')
(19, 'eng', 'apnea', None, 'n')
(20, 'eng', 'maxillary', None, 'n')

In [14]:
cur.execute('SELECT * FROM variant')
for num, row in enumerate(cur):
    if num < 20:
        print(row)

In [15]:
cur.execute('SELECT * FROM xlink')
for num, row in enumerate(cur):
    if num < 20:
        print(row)

('00001740-a', 'sumo', 'capability', '=', None)
('00002098-a', 'sumo', 'capability', '⊂', None)
('00002312-a', 'sumo', 'PositionalAttribute', '⊂', None)
('00002527-a', 'sumo', 'PositionalAttribute', '⊂', None)
('00002956-a', 'sumo', 'BiologicalAttribute', '⊂', None)
('00003131-a', 'sumo', 'BiologicalAttribute', '⊂', None)
('00003356-a', 'sumo', 'BeginFn', '⊂', None)
('00004413-a', 'sumo', 'Summary', '=', None)
('00004980-a', 'sumo', 'Text', '⊂', None)
('00005205-a', 'sumo', 'SubjectiveAssessmentAttribute', '⊂', None)
('00006032-a', 'sumo', 'SubjectiveAssessmentAttribute', '⊂', None)
('00006336-a', 'sumo', 'capability', '⊂', None)
('00007813-a', 'sumo', 'capability', '⊂', None)
('00008206-a', 'sumo', 'capability', '⊂', None)
('00008595-a', 'sumo', 'capability', '⊂', None)
('00008734-a', 'sumo', 'capability', '⊂', None)
('00008877-a', 'sumo', 'capability', '⊂', None)
('00009046-a', 'sumo', 'SubjectiveAssessmentAttribute', '⊂', None)
('00009978-a', 'sumo', 'SubjectiveAssessmentAttribute', '⊂', None)
('00011757-a', 'sumo', 'Abstract', '=', None)